time="2024-10-19T21:23:38Z" level=info msg="Starting snapshot process..."
time="2024-10-19T21:23:38Z" level=info msg="Both nodes are synced. Proceeding with snapshot."
time="2024-10-19T21:23:38Z" level=info msg="Stopping Geth and Cosmos nodes..."
time="2024-10-19T21:24:04Z" level=info msg="Creating geth snapshot..."
time="2024-10-19T21:32:11Z" level=info msg="geth snapshot created at /home/ubuntu/snapshot-server/public/snapshots/geth/geth_pruned_202410192124.tar.lz4"
time="2024-10-19T21:32:11Z" level=info msg="Creating story snapshot..."
time="2024-10-19T21:32:49Z" level=info msg="story snapshot created at /home/ubuntu/snapshot-server/public/snapshots/story/story_archive_202410192124.tar.lz4"
time="2024-10-19T21:32:49Z" level=info msg="Restarting geth and story nodes..."
time="2024-10-19T21:32:49Z" level=info msg="Snapshot process completed successfully."
